
<div class="ui fluid container">
  <!-- Menu to hold file name -->
  <div class="ui mini pointing menu shaka-menu" id="codetracker-file-menu">
  </div>
  <!-- Div that the CodeMirror object is inserted into -->
  <div id="shaka-codemirror" class="shaka-codemirror"></div>
</div>

<template id="codetracker-file-tab-template">
  <a class="vertically fitted item shaka-menu-item">
    <i class="ui file icon shaka-menu-item"></i>
    <div class="text filename shaka-menu-item"></div>
  </a>
</template>
