
  <script src="js/jquery.terminal-1.10.1.min.js"></script>
  <script src="js/jquery.mousewheel-min.js"></script>
  <link href="css/jquery.terminal-1.10.1.min.css" rel="stylesheet"/>

<div class="ui fluid container">
  <!-- Menu for Console -->
  <div class="ui mini menu shaka-menu">
    <a class="vertically fitted item shaka-menu-item">
      Console
    </a>
  </div>
  <!-- Console Emulator -->
  <div id="shaka-console" class="ui fluid container shaka-console">
    [----------] <br>
    [ Run      ] shaka_show_tests.properly_pipes_controls <br>
    [       OK ] shaka_show_tests.properly_pipes_controls (23ms) <br>
    [ Run      ] shaka_show_tests.play_complete <br>
    [       OK ] shaka_show_tests.play_complete (16ms) <br>
    [ Run      ] shaka_show_tests.stop_complete <br>
    [       OK ] shaka_show_tests.stop_complete (8ms) <br>
    [ Run      ] shaka_show_tests.step_forward_complete  <br>
    [       OK ] shaka_show_tests.step_forward_complete (29ms) <br>
    [----------]
  </div>

</div>


