
<div class="ui container">
  <div class="ui borderless top menu controls">
    <a class="item">File</a>
    <a class="item">Edit</a>
    <a class="item">View</a>
    <a class="item">Help</a>
    <a class="right item">
      <button class="ui labeled icon button">
        <i class="video play icon"></i>
        Play
      </button>
    </a>
    <a class="item">
      <button class="ui labeled icon button">
        <i class="stop circle icon"></i>
        Stop
      </button>
    </a>
    <a class="item">
      <button class="ui labeled icon button">
        <i class="pause icon"></i>
        Pause
      </button>
    </a>
    <a class="item">
      <button class="ui labeled icon button">
        <i class="forward icon"></i>
        Forward
      </button>
    </a>
  </div>
</div>



