
<div class="ui container">
  <div id="topmenu" class="ui mini top menu controls">
    <a class="item">File</a>
    <a class="item">Edit</a>
    <a class="item">View</a>
    <a class="item">Help</a>
    <a id="start-button" class="right vertically fitted item">
      <button class="ui labeled icon play inverted green button">
        <i class="video play icon"></i>
        Play
      </button>
    </a>
    <a id="stop-button" class="vertically fitted item">
      <button class="ui labeled icon stop inverted red button">
        <i class="stop circle icon"></i>
        Stop
      </button>
    </a>
    <a id="pause-button" class="vertically fitted item">
      <button class="ui labeled icon pause inverted blue button">
        <i class="pause icon"></i>
        Pause
      </button>
    </a>
    <a id="step-button" class="vertically fitted item">
      <button class="ui labeled icon step inverted yellow button">
        <i class="forward icon"></i>
        Step
      </button>
    </a>
  </div>
</div>



