<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- Library / Framework CSS -->

    <!-- Code Mirror -->
    <script src="{{ static_url("dep/codemirror/codemirror.js") }}"></script>
    <link rel="stylesheet" href="{{ static_url("dep/codemirror/codemirror.css") }}">
    <script src="{{ static_url("dep/codemirror/mode/scheme.js") }}"></script>

    <title>Shaka homepage</title>
<head>
<body>
    {% for panel in panels %}
        {% module Template(panel, **panelargs[panel]) %}
    {% end %}

    <!-- Library / Framework JS -->
    <!-- Underscore -->
    <script src="{{ static_url("dep/underscore/underscore-min.js") }}"></script>
    <!-- jQuery -->
    <script src="{{ static_url("dep/jquery/jquery-3.2.1.js") }}"></script>

    <!-- Shaka-Show JS -->

</body>
</html>
