body{
  background-color: black;
}

.ui.borderless.top.menu {
  background-color: black;
  box-shadow: none;
  //border: none;
  border-color: #31fffc;
}


a.item{
  color: #31fffc !important;
  font-size: 14px;
  padding-bottom: 10px !important;
}

a.middle.item{
  padding-left: 100px !important;
}

h1{
  font-size: 10px;
  color: #31fffc !important;
  padding-left: 30px !important;
}

h2{
  font-size: 10px;
  color: #31fffc !important;
  padding-left: 30px !important;
  padding-right: 45px !important;
}
