body {
  background-color: #282a36;
}

#topmenu {
  background-color: #44475a; /*current line*/
  color: #f8f8f2; /*foreground*/
}

.shaka-header {
  color: #f8f8f2; /*foreground*/
}

.ui.borderless.top.menu.header {
  margin-bottom: 0px;
  padding-top: 5px;
  padding-left: 12px;
  font-size: 10px;
}

.ui.borderless.top.menu.controls {
  margin-top: 0px;
  margin-bottom: 14px;
  font-size: 11px;
  padding: 0px;
}

.ui.labeled.icon.play.button {
  font-size: 10px;
  background-color: #282a36	; /*background */
  color: mediumspringgreen;
}

.ui.labeled.icon.stop.button {
  font-size: 10px;
  background-color: #282a36	; /*background */
  color: red;
}

.ui.labeled.icon.pause.button {
  font-size: 10px;
  background-color: #282a36	; /*background */
  color: deepskyblue;
}

.ui.labeled.icon.step.button {
  font-size: 10px;
  background-color: #282a36	; /*background */
  color: yellow;
}

.ui.menu .item {
  color: #e0e0da; /* foreground */
}

