html,
body {
  height: 100vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
  overflow: hidden;
}

.shaka-body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.parent {
  height: 100vh;
}

#shaka-console {
    overflow: hidden;
}
