body {
  background-color: #282a36;
  color: #f8f8f2; /*foreground*/
}

#topmenu {
  background-color: #44475a; /*current line*/
  color: cyan;
}

.ui.menu {
  margin: 0px;
}

#foreground{
  background-color: black;
}

.ui.header {
  color: cyan;
}

.ui.borderless.top.menu.header {
  margin-bottom: 0px;
  padding-top: 5px;
  padding-left: 12px;
  font-size: 10px;
}

.ui.borderless.top.menu.controls {
  margin-top: 0px;
  margin-bottom: 14px;
  font-size: 11px;
  padding: 0px;
  color: #ee1836;
}

.eight.wide.main.column {
  height: 3000px;
}

.ui.labeled.icon.play.button {
  font-size: 10px;
  background-color: #282a36	; /*background */
  color: #77ee77;
}

.ui.labeled.icon.stop.button {
  font-size: 10px;
  background-color: #282a36	; /*background */
  color: #ee1836;
}

.ui.labeled.icon.pause.button {
  font-size: 10px;
  background-color: #282a36	; /*background */
  color: #28beee;
}

.ui.labeled.icon.step.button {
  font-size: 10px;
  background-color: #282a36	; /*background */
  color: #e6ee2e;
}

.ui.menu .item {
  color: #77ee77;
}

