body {
  background-color: black;
  color: cyan;
}

#foreground{
  background-color: black;
  color: cyan;
}

.ui.borderless.top.menu.header {
  margin-bottom: 0px;
  padding-top: 5px;
  padding-left: 12px;
  font-size: 10px;
}

.ui.borderless.top.menu.controls {
  margin-top: 0px;
  margin-bottom: 14px;
  font-size: 11px;
  padding: 0px;
}

.eight.wide.main.column {
  height: 3000px;
}

.ui.labeled.icon.button {
  font-size: 8px;
}

a {
  padding: 0px;
}

