
.shaka-background {
  background-color: #282a36 !important;
}

.shaka-top-header {
 background-color: #1b1b1b !important;
 color: #f8f8f2 !important;
  margin-bottom: 0px !important;
  padding-top: 5px !important;
  padding-left: 12px !important;
  font-size: 10px !important;
}

.shaka-filemenu {
  background-color: #1b1b1b !important;
}

.shaka-filename {
  background-color: #44475a !important; /* background color */
  color: #f8f8f2 !important;
}

.shaka-button {
  font-size: 10px !important;
}

.shaka-item {
  color: #e0e0da !important; /* foreground */
}




